@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .animation-delay-2000{
        animation-delay: 2s;
    }
    .animation-delay-4000{
        animation-delay: 4s;
    }
    .animation-delay-3000{
        animation-delay: 3s;
    }
}


.h-90{
    height: 90%;
}
.h-98{
    height: 98%;
}
.w-99{
    width: 99%;
}
html, body #root{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.bg-primary-l{
    background-color: #F4F4F2;
}
.bg-primary-m{
    background-color: #E8E8E8;
}
.bg-primary-b{
    background-color: #BBBFCA;
}
.bg-primary-dark{
    background-color: #495464;
}
